extends layout 

block content
  h2= page_title

  div 
      
   
    hr
  div
    
    if(category_list)
        ul 
            each category in category_list
                li 
                    a(href=category.url) #{category.name}
                    p #{category.summary}
                    hr    
    else
        p No categories found.

        

    