extends layout

block content
  h1= page_title

  form.form-container(method='POST', enctype='multipart/form-data') 
    .form-control 
      label.form-label(for='mat_name') Name:
      input.form-input(type='text', name='mat_name', placeholder='Name', value=(material ? material.mat_name : ''), required)

    .form-control 
      label.form-label(for='stock') Stock:
      input.form-input(type='number', name='stock', placeholder='Stock', value= ( material ? material.stock : '' ), required)

    .form-control
      label.form-label(for='price') Price:
      input.form-input(type='number', name='price', placeholder='Price', value= (material ?  material.price : ''), required)

    .form-control 
      label.form-label(for='image') Image:
      input.form-input(type='file', name='image', placeholder='Image', accept='image/*')

    .form-control
      label.form-label(for='category_id') Category:
      select.form-input(name='category_id', required)
        each category in categories
          if material && material.category_id && category.id.toString() === material.category_id.toString()
            option(value=category.id, selected)= category.cat_name
          else
            option(value=category.id)= category.cat_name

    button.btn.btn-primary(type='submit') Submit

  if errors
    ul.errors 
      each error in errors 
        li= error.msg

